@import url(https://fonts.googleapis.com/css?family=Six+Caps);

.contenedor{
    margin: 0.1rem;
}



.contorno{
    display: inline-block;
    padding: 30px;
    line-height: 100%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;  
    background-image: none;  
    }

    .contorno2{
        display: inline-block;
        padding: 30px;
        line-height: 100%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: black;
        color: white;
        align-items: center;
        text-align: center;
        font-size: 2em;  
        background-image: none;
          
        }

        .contorno3{
            display: inline-block;
            padding: 30px;
            line-height: 100%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: black;
            color: white;
            text-align: center;
            font-size: 2em;  
            background-image: none;  
            }
    .zoom {        
        transition: transform .8s; /* Animation */
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    
    .zoom:hover{
        transform: scale(1.8) translateY(-10px);

    }





    .zoom:hover .fas{
        opacity: 0;
    }

    .zoom:hover .far{
        opacity: 0;
    }

.fas{
   color: rgba(85, 88, 86, 0.986);
   border-radius: 50%;
}

.far{
    color: rgba(85, 88, 86, 0.986);    
    border-radius: 50%;
}

  


.espacio{
    margin-top: 10rem;
    margin-bottom: 10rem;
}




/* CAMBIAMOS FONDO DEL CIRCUL (MARCAS) */
.contorno:hover{
    background-color: none;
    background-size: cover;
    background-image: url("https://scontent.fmex5-1.fna.fbcdn.net/v/t1.0-9/14717322_982910751836959_1278512058979558507_n.png?_nc_cat=0&_nc_eui2=v1%3AAeGGFo0J-75rl47khbYZDLoSsOugmTkgVMCHOr7z1FFhZSfACewSqIXCcLmUHF7hgi-uv2Y23YrERCidEzz4UFzmgufD_FGSWIIHBASzur4WNA&oh=eb28d90ea548b40f5863a33e4b86109a&oe=5B5FF202");
}


.contorno2:hover{
    background-image: url("doge.jpg");
    background-size: cover;
}

.contorno3:hover{
    background-color: none;
    background-size: contain;
    background-image: url("https://scontent.fmex11-2.fna.fbcdn.net/v/t1.0-9/30124873_1706088422804352_799582579410392223_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeFnXdPYFN50ZJlrmQc3HFj16QHX-7pBMfA2d-fegMiIdqMi5l5jfqnR8j2E0hyrpS0CK4SEBrGFQXY2ULnqiiZsr0j_ajjvNIEYE9HJsqvodw&oh=db28cd7992e6192b097dd9db0e2d1eef&oe=5B92A2F3");
}





/*CAMBIAR FONDO DEL ROW*/

.contenedor .row:nth-child(1){
    background-image: url("row1.png");
    background-size: auto;
    background-position-y: center;
}


.contenedor .row:nth-child(2){
    background-image: url('row2.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: left;
}

.contenedor .row:nth-child(3){
    background-color: #FEB954;
    background-image: url('row3.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

}



/*MEDIA QUERIES */
/* Los zoom y traslaciones para móviles (Solo está aplicado al 2)*/
@media only screen and (max-width: 600px) {
    
    .contenedor .row:nth-child(2) .col-lg-6 .zoom:hover{
        transform: scale(1.68) translateY(-10px) translateX(-10px);
    }

    .zoom {        
        transition: transform .5s;
        }

        .contenedor .row:nth-child(1){
            background-image: url('row1_movil.png');
            background-size: contain;
        }
        
        
        .contenedor .row:nth-child(2){
            background-image: url('row2_movil.png');
            background-size: cover;
        }
        
        .contenedor .row:nth-child(3){
            background-image: url('row3_movil.jpg');
            background-size: cover;
        }


}


@media only screen 
and (min-width : 1224px) {
    .contorno{
        margin-left: 5rem;
    }    

    .espacio-texto{
    margin-left: 10%;
    margin-top: 25%;
    }
}

@media only screen and (min-width: 768px) {
    .contorno, .contorno3{
        margin-left: 5rem;
    }    

    

    .espacio-texto{
    margin-left: 10%;
    margin-top: 25%;
    }

}

.espacio-texto{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(138, 145, 142, 0.692);
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30%;
    border-radius: 1rem;
    transform: translateY(-10px);
   
}


.espacio-texto p{
    opacity: none;
    width: 100%;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}

