@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rubik');

html {
  position: relative; min-height: 100%;
}

.container {
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}

footer {
  background: #242424;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

}

body {
  font-size: 16px;
  background: #FFF;
  color: rgb(95, 25, 25);
}


header
{
  background: #242424;
}


.border-animation {
  --border-width: 0.1em;
  --animation-speed: 0.5s;
  --color: #82ff9e;
  color: var(--color);
  position: relative;
  display: inline-block;
  font-size: 4em;
  line-height: 1em;
  transform: scale(1, 0.8);
  border: var(--border-width) solid transparent;
}
.border-animation .border-animation__inner {
  position: relative;
  display: inline-block;
  width: 100%;
  color: white;
  font-family: 'Six Caps', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0.2em;
  background: #242424;
  z-index: 1;
  border: solid var(--border-width) transparent;
}
.border-animation:before, .border-animation:after {
  content: '';
  position: absolute;
  background: var(--color);
}
.border-animation:focus:before, .border-animation:hover:before {
  animation: beforeBorders var(--animation-speed) forwards ease-in-out;
}
.border-animation:focus:after, .border-animation:hover:after {
  animation: afterBorders var(--animation-speed) forwards ease-in-out;

}
.border-animation:focus, .border-animation:hover {
  animation: borderColors var(--animation-speed) steps(1) forwards;
  outline: none;
}
.border-animation:focus .border-animation__inner, .border-animation:hover .border-animation__inner {
  animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
  animation-delay: calc(var(--animation-speed) / 5 * 2);
  color: #21a179;
  transition: all 1s ease-out;
}
@keyframes beforeBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: 50%;
    bottom: auto;
    right: auto;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    bottom: auto;
    right: auto;
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: calc(var(--border-width) * -1);
    bottom: calc(var(--border-width) * -1);
    right: auto;
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
@keyframes afterBorders {
  0% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: 50%;
    width: 0;
    height: var(--border-width);
  }
  33% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: var(--border-width);
  }
  66% {
    top: calc(var(--border-width) * -1);
    left: auto;
    bottom: auto;
    right: calc(var(--border-width) * -1);
    width: var(--border-width);
    height: calc((var(--border-width) * 2) + 100%);
  }
  100% {
    top: auto;
    left: auto;
    bottom: calc(var(--border-width) * -1);
    right: calc(var(--border-width) * -1);
    width: calc(var(--border-width) + 50%);
    height: calc((var(--border-width) * 2) + 100%);
  }
}
@keyframes borderColors {
  0% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  33% {
    border-top-color: var(--color);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  66% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: transparent;
    border-left-color: var(--color);
  }
  100% {
    border-top-color: var(--color);
    border-right-color: var(--color);
    border-bottom-color: var(--color);
    border-left-color: var(--color);
  }
}
@keyframes background {
  to {
    background: #333;
    text-shadow: 0 0.1em 0.1em #111;
  }
}

/*-------Menu---------

*{
	margin: 0px;
	padding: 0px;
}
.cuerpo{
  font-size: 180%;
	line-height: 140%;

  font-family: 'Six Caps', sans-serif;
  font-weight: 300;

  letter-spacing: 0.25em;
}

.menu{
  color: #21a179;
  padding:0.05% 0.5%;
  margin: 0;
  background: #242424;
  border: 3px solid #21a179;
  border-radius:0 0 10px 10px;
  position: fixed;
  left: -20px;
  top: 25%;
  transform: translateY(-50%);
  transform: rotate(-90deg);
  pointer-events: none;
  z-index: 10;
}
nav{
  height: 100vh;
  width: 200px;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-90%);
  transition: 0.3s;
  z-index: 11;
}

nav ul{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin-left: 40px;
}
nav ul li{
  margin: 15px 0;
  padding: 10px 0;

}

nav a{
  color: #21a179;
  font-weight: 100%;
  font-size: 120%;

  text-decoration: none;
  transition: 0.1s;
}
nav a:hover, nav a:focus, nav a:active{
  text-decoration: none;
  background: #333;
  padding-left:10px;
  color: #82ff9e;
}
nav:hover, nav:focus, nav a:active{
  background-color: #242424;
  transform: translateX(0);
}
*/

/*-----------------Menu------------------*/

.menu {
  position: absolute;
  top: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2001;
}

.nav-active .logo,
.nav-active .menu {
  position: fixed;
  z-index: 3001;
}

.menu {
  right: 10%;
  cursor: pointer;
}

.menu:hover {
  opacity: .7;
}

.menu__text {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Rubik';
  color: #fff;
  text-transform: uppercase;
}

/* --- Hamburger --- */

.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger__box {
  width: 19px;
  height: 18px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: 0;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 18px;
  height: 3px;
  background-color: #ededed;
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before, .hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -6px;
}

.hamburger__inner::after {
  bottom: -6px;
}

.hamburger--spin .hamburger__inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger__inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger__inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger__inner {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger__inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger__inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  z-index: 2001;
}

.hamburger:focus {
  outline: none;
}

/* --- Navegación --- */

.nav--menu {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
  text-align: center;
  background-color: #1e1e1e;
  visibility: hidden;
  opacity: 0;
}

.nav-active .nav--menu {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 3000;
}

.nav--menu__item {
  display: block;
}

.nav--menu__link {
  font-size: 28px;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  line-height: 1.5;
}

.nav--menu__link,
.nav--menu__link:link,
.nav--menu__link:hover,
.nav--menu__link:visited {
  text-decoration: none;
  color: #ededed;
}

.nav--menu__link,
.nav--menu__desc {
  visibility: hidden;
  opacity: 0;
}

.nav-active .nav--menu__link,
.nav-active .nav--menu__desc {
  visibility: visible;
  opacity: 1;
}

.nav--menu__desc {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 80%;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}
/*---Termina Menú----*/

/* -------------STICKY HEADER----------------- */

.header {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 55px;
  background-color: #242424;
  z-index: 2000;
  transition: all 0.5s ease;
}

.box-shadow {
  box-shadow: 0 1px 27px rgba(0, 0, 0, 0.16);
}

.nav-active .header {
  z-index: 2000;
}

.header--sticky {
  top: 0;
}

.header .wrapper {
  position: relative;
  height: 100%;
}

.logo--header {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  text-transform: uppercase;
  align-items: center;
}

.nav__item {
  display: inline-block;
}

.nav__item:nth-child(n+2) {
  margin-left: calc(60px - 4px);
}

.nav__link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-family: 'Rubik';
}

.perate {
  font-size: 40px;
  font-family: 'Six Caps', sans-serif;
  color: white;
}


.nav__link,
.nav__link:link,
.nav__link:hover,
.nav__link:visited,
.perate:visited {
  color: white;
  text-decoration: none;
}

.nav__link:hover,
.perate:hover {
  text-decoration: none;
  opacity: .7;
}


/*----------------ICONOS SOCIAL----------------*/
.contenedor-redes-sociales {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}
.contenedor-redes-sociales a {
    position: relative;
    display: inline-block;
    height: 36px;
    width: 160px;
    line-height: 35px;
    padding: 0;
    color: #fff;
    border-radius: 50px;
    background: #fff;
    margin: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.contenedor-redes-sociales a:hover span.circulo {
    left: 100%;
    margin-left: -35px;
    background: #fff;
}
.contenedor-redes-sociales a:hover span.titulo {
    opacity: 0;
}
.contenedor-redes-sociales a:hover span.titulo-hover {
    opacity: 1;
    color: #fff;
}
.contenedor-redes-sociales a span.titulo-hover {
    opacity: 0;
}
.contenedor-redes-sociales a span.circulo {
    display: block;
    color: #fff;
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-radius: 50%;
}
.contenedor-redes-sociales a span.circulo i {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.contenedor-redes-sociales a span.titulo, .contenedor-redes-sociales a span.titulo-hover {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
}
.contenedor-redes-sociales a span.titulo {
    right: 15px
}
.contenedor-redes-sociales a span.titulo-hover {
    left: 15px
}



/*----------Colores de los botones----------*/

.contenedor-redes-sociales .facebook {
	background: #3b5998;
}
.contenedor-redes-sociales .facebook:hover, .contenedor-redes-sociales .facebook span.circulo {
    background: #3b5998;
}
.contenedor-redes-sociales .facebook:hover span.circulo, .contenedor-redes-sociales .facebook span.titulo {
	background: #3b5998;
    color: #fff;
}
.contenedor-redes-sociales .twitter {
		background: #1da1f2;
}
.contenedor-redes-sociales .twitter:hover, .contenedor-redes-sociales .twitter span.circulo {
    background: #1da1f2;
}
.contenedor-redes-sociales .twitter:hover span.circulo, .contenedor-redes-sociales .twitter span.titulo {
    color: #fff;
		background: #1da1f2;
}
.contenedor-redes-sociales .gplus {
	background: #dd4b39;
}
.contenedor-redes-sociales .gplus:hover, .contenedor-redes-sociales .gplus span.circulo {
    background: #dd4b39;
}
.contenedor-redes-sociales .gplus:hover span.circulo, .contenedor-redes-sociales .gplus span.titulo {
    color: #fff;
		background: #dd4b39;
}

/*--------------Mediaqueries--------------*/

@media screen and (max-width: 480px) {
    .contenedor-redes-sociales a {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
}


