
@import url('https://fonts.googleapis.com/css?family=Dosis|Lobster+Two|Poppins|Quicksand|Sacramento|Poiret+One');


html {
  margin: 0;
  padding: 0;
}

main {
  background-image: url("https://s19.postimg.cc/ech6hs01f/fondo.png");
  background-repeat: repeat;
}


/* ----HEADER---- */

.header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px 0px 30px 0px;
  background: #2b7097;
  box-shadow: 0px 0px 15px #000;
  z-index: 2;
}

.header .divcont{
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align:center;
}

.logo  {
  padding-top: 30px;
}

/*REDES SOCIALES*/

.flex{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contenedor-redes-sociales2  {
  position: absolute;
  width: 100%
}

.contenedor-redes-sociales2 .line {
    position: absolute;
    top: 0;
    height: 5px;
    background: #2b7097;
    box-shadow: 0 0 10px #000;
    z-index: 0;
}

.contenedor-redes-sociales2 ul {
  /* margin-right: 40px; */
  margin-left: -40px;
  list-style: none;
  color: #fff;
  display: flex;
  }

.contenedor-redes-sociales2 ul li {
  display: flex;
}

.contenedor-redes-sociales2 ul li a {
    position: relative;
    background: #a4b6cc;
    width: 48px;
    text-align: center;
    color: #fff;
    padding: 0 0 30px 0;
    transition: all 0.5s ease-out;
}

.contenedor-redes-sociales2 ul li a:hover {
    transform: scale(1.2);
    z-index: 100;
    transform: scaleY(10px);
    transform: translateY(15px);
/*  HACERLO DESPUES :v
align-items: center;
    height: 100px;
    */
}

.contenedor-redes-sociales2 a:hover {
  transition: 0.2s;
}

.fa-facebook, .fa-google-plus {
    padding: 10px 0 0 0;
}

.contenedor-redes-sociales2 ul li a:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 1px;
    height: 1px;
    border: 24px solid transparent;
    border-bottom: 24px solid #2b7097;
    z-index: 0;
}

.contenedor-redes-sociales2 ul li.facebook a:hover {
    background: #2b7097;
    color: white;
}

.contenedor-redes-sociales2 ul li.twitter a:hover {
  background: #2b7097;
  color: white;
}

.contenedor-redes-sociales2 ul li.google-plus a:hover {
  background: #2b7097;
  color: white;
}

.contenedor-redes-sociales2 ul li.menu a:hover {
  background: #2b7097;
  color: white;
}

@keyframes grande {
  from{
    height: 48px;
  }
  to{
    height: 100px;
  }
}

/* ----HOME---- */

body .parallax {
  background-attachment: fixed;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
}

.home {
  position: relative;
  width: 100%;
  height: calc(100vh - 20px);
  min-height: 480px;
  background: url('https://s19.postimg.cc/414tp05qb/bluegirl.jpg') no-repeat center;
  background-size: cover;
  background-color: #000;
  z-index: 1;
}

.home .wrapper {
  position: relative;
  height: 100%;
}

.home__wrapper {
  position: absolute;
  top: calc(50% + (80px / 2));
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.home h3 {
  font-family: 'Poiret One', sans-serif;
  font-size: 35px;
  color: #fff;
  text-shadow:
  -2px -2px 2px #383336,
  2px -2px 2px #666985,
  -2px 2px 2px #383336,
  2px 2px 2px #666985;
}


/* ----ABOUT---- */

.about--contenedor {
  background: #000;
  align-items: center;
  border-radius: 20px;
  padding: 0;
  margin: 1em;
  display: flex;
}

.texthome {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 20px;
  color: #000;
  background: #000;
  text-align: justify;
  padding: 1em;
  transition: all 1s ease-out;
}

.texthome:hover {
  transition:  1s;
  /* box-shadow: 0px 0px 10px #2b7097; */
  background: #2b7097;
  color: #999999;
}


/* ---VENTAS--- */
.contenedor {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    padding: 2rem 2rem 4rem;
    top: 5rem;
  }
  .contenedor .wrapper {

    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
    transition: 0.25s;
  }
  .contenedor .wrapper:before {
    content: '';
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 40px;
    opacity: 0;
    border: 2px solid #bf17e9; /*El borde que usa la linea*/
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.05s;
  }
  .contenedor .wrapper:focus::before,
  .contenedor .wrapper:hover:before {
    content: '';
    opacity: 1;
    -webkit-transform: translateY(1.5rem) translateX(1.5rem);
            transform: translateY(1.5rem) translateX(1.5rem);
  }

  .contenedor .wrapper:nth-child(1) .card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://s3.amazonaws.com/kichink/items_1695944_547724_0_20180220102029_b.jpg");
    background-size: cover;
    background-color: #373f51;
    background-blend-mode: screen;
    -webkit-transform: skew(10deg) scale(1.2);
            transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .contenedor .wrapper:nth-child(2) .card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://s3.amazonaws.com/kichink/items_1582121_547724_0_20171024155055_b.jpg");
    background-size: cover;
    background-color: #373f51;
    background-blend-mode: screen;
    -webkit-transform: skew(10deg) scale(1.2);
            transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .contenedor .wrapper:nth-child(3) .card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://s3.amazonaws.com/kichink/items_1646149_547724_0_20171226134124_b.jpg");
    background-size: cover;
    background-color: #373f51;
    background-blend-mode: screen;
    -webkit-transform: skew(10deg) scale(1.2);
            transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .contenedor .wrapper:nth-child(4) .card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://s3.amazonaws.com/kichink/items_1582101_547724_0_20171024153959_b.jpg");
    background-size: cover;
    background-color: #373f51;
    background-blend-mode: screen;
    -webkit-transform: skew(10deg) scale(1.2);
            transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .contenedor .wrapper:nth-child(5) .card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://s3.amazonaws.com/kichink/items_1315512_547724_20170228230310_b.jpg");
    background-size: cover;
    background-color: #373f51;
    background-blend-mode: screen;
    -webkit-transform: skew(10deg) scale(1.2);
            transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }
  .contenedor .wrapper:nth-child(6) .card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("https://s3.amazonaws.com/kichink/items_1698583_547724_0_20180221125054_b.jpg");
    background-size: cover;
    background-color: #373f51;
    background-blend-mode: screen;
    -webkit-transform: skew(10deg) scale(1.2);
            transform: skew(10deg) scale(1.2);
    transition: 0.25s;
  }

  .contenedor .wrapper:hover {
    -webkit-transform: translateX(-1rem) translateY(-1rem) skew(-10deg);
            transform: translateX(-1rem) translateY(-1rem) skew(-10deg);
  }
  .contenedor .wrapper:hover .card {
    box-shadow: 0.5rem 0.75rem 1rem rgba(224, 111, 190, 0.89);
  }

  .contenedor .wrapper:hover .card:after {
    background-blend-mode: normal;
  }

  .contenedor .wrapper:hover .card .fas {
    bottom: 4rem;
    background-color: rgba(255,255,255,0.8);
  }

  p{
    text-align: center;
    left: -.5rem;
    padding: 1rem;
    color: #e21da7
  }

  .contenedor .card {
    background-color: #808080;
    border-radius: 40px;
    height: 15rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
  }
  .contenedor .card:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .contenedor .card .fas {
    position: absolute;
    bottom: -1rem;
    right: 3rem;
    border-radius: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #373f51;
    z-index: 1;
    -webkit-transform: skew(10deg) translateY(50%);
            transform: skew(10deg) translateY(50%);
    text-align: center;
    transition: 0.25s;
  }



/* ----MEDIA QUERIES---- */

@media (max-width: 767px) {

  .header {
    padding: 0px 0px 10px 0px;
  }

  .flex{
    justify-content: space-between;
  }

  .logo  {
    padding-top: 60px;
  }

  /*.home {
    background-size: auto 120vh;
  }*/

  .home__wrapper {
    top: calc(50% + 30px);
  }

}

@media (max-width: 575px) {

  .header {
    padding: 0px 0px 10px 0px;
  }
  
  .flex{
    justify-content: space-between;
  }

  .logo  {
    padding-top: 60px;
  }
  
  /*.home {
    background-size: auto 120vh;
  }*/

  .home__wrapper {
    top: calc(50% + 10px);
  }

}
